# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\王鑫威\AppData\Roaming\JetBrains\DataGrip2021.1\projects\studentManager\.idea/dataSources/
/dataSources.local.xml
